* {
  margin: 0;
  padding: 0;
}
ol,
ul {
  text-decoration: none;
}
a,
a:hover {
  text-decoration: none;
}
button:focus {
  outline: 0;
}
$icon-size: 50px;
$dark_overlay: rgba(0, 0, 0, 0.8);

/*common scss ends*/

/*SCSS navbar work start*/
.navbar {
  background: #000;
  padding-left: 1em !important;
  .navbar-nav {
    .active {
      color: aquamarine;
    }
  }
  .navbar-toggler {
    margin: 1rem;
    color: #fff;
  }
  .navbar-toggler-icon {
    width: 1em;
    height: 1em;
    color: #fff;
  }

  .navbar-nav {
    .nav-item {
      padding-left: 1em !important;
      .nav-link {
        text-transform: uppercase;
      }
    }
  }
}
/*SCSS navbar work ends*/
/*SCSS banner slider part start*/
.carousel-item {
  height: 550px;
  background: #d9dadb;
}
.carousel-img-1 {
  background: url(../img/image1.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
}
.carousel-img-2 {
  background: url(../img/image2.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
}
.carousel-img-3 {
  background: url(../img/image3.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
}
.right-slide {
  justify-content: right;
  text-align: right;
}
.left-slide {
  justify-content: left;
  text-align: left;
}

/*Scss banner slider part ends*/
/*SCSS banner slider part Ends*/
/*SCSS Home Icon part start*/
#home_icon {
  .icon {
    font-size: $icon-size;
  }
}
/*SCSS Home Icon part ends*/
/*SCSS Home Get part start*/
#getstarted {
  background: url(../img/pc.jpeg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  min-height: 250px;
  .dark_overlay {
    background: $dark_overlay;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .lead {
    font-size: 1.25rem;
    font-weight: 300;
  }
}
/*SCSS Home Get part ends*/
/*SCSS Home Info part start*/
#home_info {
  background: none;
}
/*SCSS Home Info part ends*/
/*SCSS Home Video part start*/
#home_video {
  background: url(../img/people.jpeg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  min-height: 250px;
  .dark_overlay {
    background: $dark_overlay;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .icon {
    font-size: $icon-size;
    color: #ff0000;
  }
}
/*SCSS Home video part ends*/
/*SCSS Home photo gallery part start*/
#photo_gallery {
  img {
    min-height: 250px;
  }
}
/*SCSS Home photo gallery part ends*/
/*SCSS Home Copy Rights part start*/
#copyrights {
  background: #000;
  p {
    margin-bottom: 0;
    font-size: 1.25rem;
    color: #3d3d3d;
  }
}
/*SCSS Home Copy Rights part ends*/
/*SCSS About Us page start*/
#about_header {
  background: url(../img/about-bnr.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  .title {
    font-size: 2.5rem;
    font-weight: 500;
  }
}
/*SCSS About Us page ends*/
/*SCSS About content part start*/
#about_ctn {
  img {
    width: 350px;
    height: 350px;
  }
}
/*SCSS About content part ends*/
/*SCSS About Icon box part start*/
#about_iconbox {
  background: #fff;
  .card {
    .card_body {
      i {
        font-size: $icon-size;
      }
    }
  }
  .tree_box {
    background: #f8f9fa;
    border: 1px solid #d9dadb;
  }
  .second_iconbox {
    margin-top: -23px;
  }
}

/*SCSS About Icon box part ends*/
/*SCSS About  testimonial part start*/
#about_testimonial {
  .slick-prev::before,
  .slick-next:before {
    color: #000;
  }
}
/*SCSS About  testimonial part ends*/
/*SCSS Services part start*/
#services_header {
  background: url(../img/about-bnr.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  .title {
    font-size: 2.5rem;
    font-weight: 500;
  }
}
/*SCSS Services part ends*/
/*SCSS Services price table start*/
#price_table {
  .card-body {
    .btn {
      display: block;
    }
    .list-group {
      .list-group-item i {
        margin: 0 5px;
      }
    }
  }
}
/*SCSS Services price table ends*/
/*SCSS Services FAQ start*/
#accordion {
  background: #343a40;
}

/*SCSS Services FAQ ends*/
/*SCSS blog start*/
#blog {
  .btn {
    display: block;
  }
}
/*SCSS blog ends*/
/*SCSS contact us start*/
#contact {
  .btn {
    display: block;
  }
}

.carousel-item {
  height: 550px;
  background: #d9dadb;
}
.carousel-img-1 {
  background: url(../img/image1.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
}
.carousel-img-2 {
  background: url(../img/image2.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
}
.carousel-img-3 {
  background: url(../img/image3.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
}
.text-right {
  justify-content: right;
  align-items: right;
  text-align: right;
}
.text-left {
  justify-content: left;
  align-items: left;
  text-align: left;
}

/*SCSS contact us ends*/
/*SCSS Document bnr start*/

/*SCSS Document bnr ends*/
/*Media query start */
@media (min-width: 320px) and (max-width: 576px) {
  .carousel-caption {
    .display-4 {
      font-size: 2.2rem;
      padding-top: 3rem;
    }
    .lead {
      font-size: 1.1em;
    }
  }
  #getstarted {
    height: 400px;
  }
}
/*Media query ends*/
